<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>com.wt.RefeshWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F45040F91DA89F6F00A066FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F45041121DA89F7000A066FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F450411D1DA89F7000A066FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
